@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

@import 'base/reset';
@import 'base/typography';

.container{
    margin: rem(40) auto;
    width: 325px;
    @media screen and(min-width:map-get($desktop,tablet)) {width:680px}
    @media screen and(min-width:map-get($desktop,pc)){width:1114px}
}

.bold{font-weight: map-get($weights, bold );}
.header{
    margin-bottom: rem(30);
    &__title{font-size: rem(25);}
    &__follow{
        margin: rem(4) 0 rem(16) 0;
        font-size: rem(15);
    }
    &__theme{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--mode{
            font-size: rem(14);
        }
    }
    @media screen and(min-width:map-get($desktop,tablet)) {
        hr{
            display: none;
        }
        &__theme{
            justify-content: flex-end;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.sr-only{
        // position:absolute;
        // left:-10000px;
        // top:auto;
        // width:1px;
        // height:1px;
        overflow:hidden;
}
.switch input{
    // display:none;
    opacity: 0;
    width: 0;
    height: 0;
}
.switch{
    display: block;
    position: relative;
    height: 24px;
    width: 48px;
}
.slider{
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:var(--toggle);
  transition: 0.3s;
  border-radius:34px;
}
.slider:hover{
    background: var(--toggle-hover);
}
.slider::before{
    position:absolute;
    content:'';
    height: 18px;
    width: 18px;
    background-color:white;
    transition: 0.3s;
    top:3px;
    left:3px;
    border-radius:50%
  }
input:checked + .slider {
    background-color: #5c6c79;
  }
input:checked + .slider:before {
    transform: translateX(24px);
  }
.header::after{
    content: "";
    background-color: var(--top-background-pattern);
    position: absolute;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    z-index: -5;
    top: 0;
    right: 0;
    left:0;
}
.main__block:hover{
    background-color: var(--card-background-clicked);
}
.main__block{
    transition: 0.5s;
}
.main__block::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2%;
    background-color: black;
    border-radius: 50px 50px 0 0;
    top:0;
    right:0;
    left:0;
}
.main__block--facebook::after{background-color:var(--facebook);}
.main__block--twitter::after{background-color:var(--twitter)}
.main__block--insta::after{background: var(--instagram);}
.main__block--youtube::after{background-color:var(--youtube)}
.main{
    display: grid;
    grid-template-rows: repeat(4,rem(215)) ;
    gap:30px;
    justify-content: center;
    &__block{
        background-color: var(--card-background);
        border-radius:rem(7);
        position: relative;
        width: rem(325);
        height: rem(215);
        margin: 0 auto;
        text-align: center;
        padding-top: rem(30);
        &--change{
            font-size: rem(12);
            font-weight: map-get($weights, bold );
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &--user{
            font-weight: map-get($weights, bold );
            font-size: rem(12);
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                margin-left: rem(8);
            }
        }
        h2{
            margin-top:rem(18) ;
            font-size: rem(60);
        }
        &--follow{
            text-transform: uppercase;
            font-size: rem(13);
            letter-spacing: rem(4);
            margin-bottom: rem(20);
        }
    }
    @media screen and(min-width:map-get($desktop, tablet )){
        grid-template-rows: repeat(2,rem(215)) ;
        grid-template-columns: repeat(2,rem(325));
        margin: 0 auto;}
    @media screen and(min-width:map-get($desktop, pc )){
        grid-template-rows: rem(215) ;
        grid-template-columns: repeat(4,rem(256));
    &__block{
        width: rem(256);
        }
    }
}
.main__block--change::before,.footer__block--change::before{
    content: '';
    background: center/cover no-repeat;
    display: inline-block;
    height: 4px;
    width: 8px;
    margin-right:5px;
}
.up{color: var(--lime-green);}
.up::before{background-image: url(../../images/icon-up.svg);}
.down{color: var(--bright-red);}
.down::before{background-image: url(../../images/icon-down.svg);}

.footer__block{
    transition: 0.5s;
}
.footer__block:hover{
    background-color: var(--card-background-clicked);
}
.footer{
    margin: 30px 0;
    display: grid;
    grid-template-columns: rem(325);
    grid-template-rows: repeat(8,rem(125));
    gap: rem(15);
    justify-content: center;
    &__overview{
        margin: 20px 0;
        font-size: rem(25);
        color: var(--text);
    }
    &__block{
        background-color: var(--card-background);
        border-radius:rem(7);
        position: relative;
        width: rem(325);
        margin: 0 auto;
        padding: rem(25);
        &__flex{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &--name{
            color: var(--text);
            font-size: rem(14);
            margin-bottom: rem(25);
        }
        &--fend{
            align-self:flex-end;
        }
        &--stats{
            color: var(--text2);
            font-size: rem(30);
            font-weight: map-get($weights, bold );
            height: rem(32);
        }
        &--change{
            font-size: rem(12);
            font-weight: map-get($weights, bold );
            display: flex;
            align-items: center;
        }
    }
    @media screen and(min-width:map-get($desktop,tablet)){
        grid-template-columns: repeat(2,rem(325));
        grid-template-rows: repeat(3,rem(125));
        gap: rem(30);}
        @media screen and(min-width:map-get($desktop,pc)){
            grid-template-columns: repeat(4,rem(256));
            grid-template-rows: repeat(2,rem(125));
        &__block{
            width: rem(256);
        }}
}
.footer__block--name::after{
    content: '';
    background: center/cover no-repeat;
    height: rem(20);
    width: rem(20);
    display: inline-block;
}
.footer__block--name--facebook::after{background-image: url(../../images/icon-facebook.svg);}
.footer__block--name--insta::after{background-image: url(../../images/icon-instagram.svg);}
.footer__block--name--twitter::after{background-image: url(../../images/icon-twitter.svg);}
.footer__block--name--youtube::after{background-image: url(../../images/icon-youtube.svg);}